<div class="todo-list-wrapper" *ngIf="users">
  <mat-list role="list">
    <mat-list-item *ngFor="let todo of todos" role="listitem">
      <mat-card class="todo-card">
        <mat-card-header>
          <mat-card-title><a href="/{{user.id}}/todos/{{todo.id}}"><h3>{{todo.title}}</h3></a>
                    <div mat-card-avatar class="todo-header-image"><img src="http://via.placeholder.com/20x20" alt="" /></div>
          </mat-card-title>
          <mat-card-subtitle>{{ getauthorName(todo.author) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{todo.created | date:'LLL d'}} — <span>{{todo.content}}</span>
          </p>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>
