<div class="button-row">
    <button mat-raised-button color="accent" (click)="addMbPost(titlebox.value, contentbox.value, false); titlebox.value=''; contentbox.value='';">New List</button>
</div>
<div class="vert-padding"></div>
<div class="todo-list-wrapper" *ngIf="users">
  <mat-list role="list">
    <mat-list-item *ngFor="let todo of todos" role="listitem">
      <mat-card class="todo-card">
        <mat-card-header>
          <div mat-card-avatar class="todo-header-image"><img src="http://via.placeholder.com/20x20" alt="" /></div>
          <mat-card-title><a href="/{{user?.id}}/todos/{{project.id}}/todos/{{todo.id}}"><h3 class="link">{{todo.title}}</h3></a></mat-card-title>
          <mat-card-subtitle>0/0 completed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{todo.content}}
        </mat-card-content>
        <mat-checkbox class="example-margin" [(ngModel)]="todo.completed">Checked</mat-checkbox>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>
<div class="vert-padding"></div>
<div class="button-row">
  <button mat-raised-button color="primary" (click)="addMbPost(titlebox.value, contentbox.value, false); titlebox.value=''; contentbox.value='';">Add a todo</button>
</div>

