/* 
p {
  color: #877457;
  font-style: italic;
}

p span {
  color: black;
} */

h2, h3, .drafts-container {
  text-align: center;
}

h3 span {
  font-weight: lighter;
}

.link {
  text-decoration: underline;
}

mat-list-item {
  color: black !important;
}

.section {
  color: black;
  width: 100%;
}

.button-row {
  /* display: flex; */
  text-align: center;
  /* margin: 0;
  white-space: nowrap;
  text-align: center; */
}

button {
  border-radius: 2rem;
}

.vert-padding {
  height: 40px;
}

>>>.mat-form-field-label, >>>.mat-select-value-text {
  color: black !important;
}

>>>.mat-list-item-content {
  padding: 0 !important;
}

.mat-form-field {
  width: 50%;
}

.mat-list-item:not(:last-child) {
  margin-bottom: 50px;
}

.mat-card {
  color: black;
  background: none;
}

.mat-card-title {
  order: 1;
}

.mat-card-subtitle {
  order: 3;
}

.mat-card-header-text {
  color: black;
  margin: 0;
}

.mat-card-title h3 {
  float: left;
  text-align: left;
  margin: 0;
}

.todo-header-image {
  margin-left: 5px;
  order: 2;
}

mat-card-title {
  white-space: nowrap;
}

.mat-card-subtitle {
  color: #877457;
}

button, .form-wrapper {
  margin: 0 5px;
}

.todo-card {
  padding: 6px;
  width: 100%;
}

.mat-card-content {
  /* margin-left: 46px; */
  color: grey;
  font-style: italic;
}

.buttons-container {
  margin: 0;
  white-space: nowrap;
  text-align: center;
}

.button {
  color: white;
}