<ul>
  <li>
    <button class="padding-left-sm" mat-icon-button routerLink="/">
      <mat-icon aria-label="Home" matTooltip="Home">home</mat-icon>
      <label>Home</label>
    </button>
  </li>
  <li>
    <button class="padding-left-sm" mat-icon-button routerLink="/pings">
      <div class="button-content">
        <mat-icon aria-label="pings">forum</mat-icon>
        <label>Pings</label>
      </div>
    </button>
  </li>
  <li>
    <button class="padding-left-md" mat-icon-button routerLink="/heys">
      <mat-icon aria-label="heys">message</mat-icon>
      <label>Hey</label>
    </button>
  </li>
  <li>
    <button mat-icon-button  routerLink="/reports/progress">
      <mat-icon aria-label="Activity">hourglass_empty</mat-icon>
    <label>Activity</label>
  </button>
  </li>
  <li>
    <button class="padding-left-md" mat-icon-button  routerLink="/find">
      <mat-icon aria-label="find">search</mat-icon>
    <label>Find</label>
  </button>
  </li>
</ul>
