<!-- <mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list> -->
<ul>
  <li >
    <button mat-icon-button matTooltip="Home" routerLink="/">
    <mat-icon aria-label="Home" matTooltip="Home" >home</mat-icon>
  </button>
  </li>
  <li >
    <button mat-icon-button matTooltip="Projects" routerLink="/projects">
    <mat-icon aria-label="tab">tab</mat-icon>
  </button>
  </li>
  <li>
    <button mat-icon-button matTooltip="People" routerLink="/people">
    <mat-icon aria-label="Person Pin">person_pin</mat-icon>
  </button>
  </li>

</ul>
