<div class="section" *ngIf="project">
  <h3 class="header"><span><a routerLink="/{{user?.id}}/projects/{{project?.id}}">{{project.name}} HQ</a> ></span>
    <span><a routerLink="/{{user?.id}}/projects/{{project?.id}}/messageboards/{{messageboard?.id}}">Message Board</a> > </span>
    <span><a routerLink="/{{user?.id}}/messages/{{mbpost?.id}}"><mat-icon aria-label="announcement" matTooltip="Announcement">announcement</mat-icon>{{mbpost?.title}}</a></span></h3>
</div>
<div>
  <h3 class='notifications'>Who should be notified about comments on this message?</h3>
  <a>Select Everyone</a> • <a>Select no one</a>
</div>
<div>
  <h3 class="project-name">{{project?.name}}</h3>
  <div class="user-container" *ngIf="user">
    <div class="user-image"><img src="http://via.placeholder.com/40x40" alt="" /></div>
    <div class="user-details">
      <div>{{user.fullName}}</div>
      <div class="job-title">{{user.jobTitle}}</div>
    </div>
    <div class="subscribe-toggle"><mat-slide-toggle checked=true></mat-slide-toggle></div>
  </div>
</div>
<div class="radio-container">
  <mat-radio-group >
    <mat-radio-button checked=true value="1">Don't notify people until the next comment is posted</mat-radio-button>
    <mat-radio-button value="2">Send new people the message right now</mat-radio-button>
  </mat-radio-group>
</div>
<div class="button-column">
  <button mat-raised-button color="accent">Save changes</button>
  <button mat-raised-button color="basic">Never mind</button>
</div>
