
h3:not(.notifications):not(.project-name) {
  text-align: center;
}

.header span:not(:first-child) {
  font-weight: normal;
}

.header span:nth-child(3) {
  display:inline-block;
}

h1 {
 text-align: left;
 margin: 0;
}

.user-details {
  flex-grow: 1;
}

.message-details,
.user-container {
  align-items: center;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: flex;
  padding: 2px 0;
}

.user-details div:not(.job-title) {
  font-weight: bold;
}

.job-title {
  text-transform: capitalize;
}


img {
  vertical-align: middle;
}

.message-image {
  border-radius: 50px;
  margin-right: 20px;
}

.message-image,
.user-image {
  margin: 0 5px
}

.message-image img,
.user-image img {
  border-radius: 50px;
}

.message-content {
  margin: 10px 0;
}

.message-body {
  margin: 20px 0;
}

.icon-container {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50px;
  width: 30px;
}
mat-icon {
  color: red;
  margin-right: 2px;
  vertical-align: middle;

}


.discussions:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 3px solid #000;
    z-index: -1;
  }

  .discussions {
    position: relative;
  }

  .discussions span {
    display: inline-block;
    padding: 0 0.5em 0 0;
    background: #fff;
  }

  .button-column,
  .button-column button {
    width: 100%;
  }

  .button-column button {
    border-radius: 50px;
    margin: 5px 0;
  }
  .button-column button:nth-child(2) {
    color: white;
  }

  .subscriber {
    margin-left: 50px;
  }

  .subscribers-container h3 {
    margin-bottom: 0;
  }

  .subscribers-container p {
    font-size: 15px;
    -webkit-margin-before: 2px;
  }

  .radio-container {
    margin: 10px 0;
  }

  mat-radio-button {
    margin: 5px 0;
  }

>>> .mat-radio-label-content {
    white-space: normal;
    }
