<div class="header" *ngIf="todos?.length == 0">
  <div class="banner">
    <h3 class="subtitle">Start your first To-do list below.</h3>
    <p>Use to-do lists to outline tasks, set due dates, and assign work.</p>
  </div>
  <div class="clearspace">
  </div>
</div><div class="section" *ngIf="project">
  <h3><a routerLink="/{{user?.id}}/projects/{{project?.id}}">{{project.name}} HQ</a></h3>
  <h2>To-dos</h2>
</div>

<app-todo-input *ngIf="todos?.length == 0"></app-todo-input>
<app-todos-list *ngIf="todos?.length > 0"></app-todos-list>
