.banner {
  background: #fffae5;
  border: 1px solid orange;
  margin: 0 -23px;
  padding: 5px;
  text-align: center;
}

.subtitle {
  margin-bottom: 2px;
}

>>> .mat-form-field {
  width: 100%;
}

p {
  color: grey;
  margin-top: 2px;
}

.clearspace {
  height: 20px;
}

h2, h3 {
  text-align: center;
}

h3 span {
  font-weight: lighter;
}

mat-list-item {
  color: black !important;
}

.section {
  width: 100%;
  color: black;
}

.button-column,
.button-row {
  text-align: center;
}

.button-row {
  display: flex;
}


button {
  border-radius: 2rem;
}

.no-messages-container button {
  width: 100%;
  margin: 5px auto;
}

>>> .mat-form-field-label,
>>> .mat-select-value-text {
  color: black !important;
}

.title-container >>> .mat-input-infix {
  color: grey !important;
  font-weight: bold;
}

.body-container >>> .mat-form-field-label {
  color: grey !important;
}

.messages-wrapper button,
.messages-wrapper .form-wrapper {
  margin: 0 5px;

}

.message-card {
  padding: 6px;
  width: 100%;
}
