    <div class="message-input-wrapper" >
              <!-- <form> -->
      <div class="form-wrapper" *ngIf="messageboard">
        <mat-form-field>
          <mat-select placeholder="Pick a category (optional)"  [(ngModel)]="selectedCategory">
            <mat-option *ngFor="let category of messageboard.categories" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="title-container">
        <mat-form-field>
          <input matInput #titlebox placeholder="Title..." [(ngModel)]="title">
        </mat-form-field>
      </div>
      <div class="body-container">
        <mat-form-field>
          <textarea matInput #contentbox placeholder="Write away..." matTextareaAutosize matAutosizeMinRows="6" matAutosizeMaxRows="6" [(ngModel)]="body"></textarea>
        </mat-form-field>
      </div>
      <div class="button-column">
        <button mat-raised-button color="accent">Save as a draft</button>
        <button mat-raised-button color="primary" (click)="addMbPost(titlebox.value, contentbox.value); titlebox.value=''; contentbox.value='';">Post this message</button>
      </div>
        <!-- </form> -->
    </div>
