<mat-grid-list cols="3" rowHeight="200px" [gutterSize]="10">
  <mat-grid-tile>
    <mat-grid-tile-header>Water Cooler</mat-grid-tile-header>
    <mat-icon aria-label="delete">delete</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Message Board</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>To-dos</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Schedule</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Automatic Check-ins</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Docs & Files</mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>

<h3>Top Legalcases</h3>

<mat-grid-list cols="4" rowHeight="100px" [gutterSize]="10">
  <mat-grid-tile
      *ngFor="let legalcase of legalcases"
      routerLink="/detail/{{legalcase.id}}"
      [colspan]="legalcase.cols"
      [rowspan]="legalcase.rows"
      [style.background]="legalcase.color">
      <ul>
        <li>{{legalcase.title}}
        </li>
        <li>{{legalcase.docket}}
        </li>
        <li>{{legalcase.defendant}}
        </li>
      </ul>
  </mat-grid-tile>
</mat-grid-list>
