<div class="section" *ngIf="project">
  <h3><a routerLink="/{{user?.id}}/projects/{{project?.id}}">{{project.name}} HQ</a> >
    <a routerLink="/{{user?.id}}/projects/{{project?.id}}/messageboards/{{messageboard?.id}}">Message Board</a></h3>
    <h3><a routerLink="/{{user?.id}}/messages/drafts/{{mbpost?.id}}">{{draft?.title}}</a></h3>
</div>
<div class="message-input-wrapper">
  <div class="draft-container" *ngIf="draft">          <!-- <form> -->
    <div class="form-wrapper" *ngIf="messageboard">
      <mat-form-field>
        <mat-select #selectElem placeholder="Write away..." [(value)]="draft.category" (change)="setCategory(selectElem.value)">
          <mat-option *ngFor="let category of messageboard.categories; let i = index;" [value]="i">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="title-container" *ngIf="draft">
      <mat-form-field>
        <input matInput #titlebox placeholder="Title..." [(ngModel)]="draft.title">
      </mat-form-field>
    </div>
    <div class="body-container" *ngIf="draft">
      <mat-form-field>
        <textarea matInput #contentbox placeholder="Write away..." matTextareaAutosize matAutosizeMinRows="20" matAutosizeMaxRows="20" [(ngModel)]="draft.content"></textarea>
      </mat-form-field>
    </div>
    <div class="button-row">
      <button [@flyInOut]="draft.state" mat-raised-button color="accent" (click)="saveDraft();">Save this draft</button>
      <button mat-raised-button color="primary" (click)="postMessage();">Post this message</button>
    </div>
    <span>Or, <a routerLink="/{{user?.id}}/messages/drafts/{{draft.id}}">Discard my changes</a></span>
  </div>

    <!-- </form> -->
</div>
