label {
  font-weight: bold;
}
input {
  width: 100%;
}

.mat-icon-button {
  width: 25%;
}

mat-card-actions {
  text-align: center;
}

.legalcase-header-image {
  background-image: url('http://via.placeholder.com/40x40');
  background-size: cover;
  margin-right: 20px;
}
