<mat-card *ngIf="legalcase">
  <mat-card-header>
    <div mat-card-avatar class="legalcase-header-image"></div>
    <mat-card-title><h3>{{ legalcase.title | uppercase }}</h3></mat-card-title>
    <mat-card-subtitle>Docket #: {{legalcase.docket}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <label>Title:
        <input [(ngModel)]="legalcase.title" placeholder="title"/>
      </label>
    </div>
    <div>
      <label>Docket:
        <input [(ngModel)]="legalcase.docket" placeholder="docket"/>
      </label>
    </div>
    <div>
      <label>Defandant:
        <input [(ngModel)]="legalcase.defendant" placeholder="defandant"/>
      </label>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button matTooltip="Back!" matTooltipPosition="left" (click)="goBack()">go back</button>
    <button mat-button matTooltip="Save!" matTooltipPosition="right" (click)="save()">save</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-icon-button matTooltip="Files!" routerLink="/files/{{legalcase.id}}">
      <mat-icon>folder</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Calendar!" routerLink="/calendar/{{legalcase.id}}">
      <mat-icon>today</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Messages!" routerLink="/messages/{{legalcase.id}}">
      <mat-icon>message</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
