<h2>My Cases</h2>

<div class="header">
  <label>Legal Case title:
    <input #legalcaseTitle />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(legalcaseTitle.value); legalcaseTitle.value=''">
    add
  </button>
</div>

<mat-grid-list cols="4" rowHeight="100px" [gutterSize]="10">
  <mat-grid-tile
      *ngFor="let legalcase of legalcases"
      routerLink="/detail/{{legalcase.id}}"
      [colspan]="legalcase.cols"
      [rowspan]="legalcase.rows"
      [style.background]="legalcase.color">
    {{legalcase.title}}
    <button mat-icon-button color="warn" class="delete" title="delete case" (click)="delete(legalcase)">
      <mat-icon aria-label="delete">delete</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
