<h3>Some company</h3>
<mat-grid-list cols="3" rowHeight="200px" [gutterSize]="10">
  <mat-grid-tile>
    <mat-grid-tile-header>Some Company HQ</mat-grid-tile-header>
    Company-wide announcements and stuff everyone needs to know
    <mat-icon aria-label="delete"></mat-icon>
  </mat-grid-tile>
  <mat-grid-tile>
    <ul>
      <li><a routerLink="/assignments/{{legalcase.id}}"
      </li>
    </ul>
    <mat-grid-tile-header>Message Board</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>To-dos</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Schedule</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Automatic Check-ins</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>Docs & Files</mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>
