ul {
  text-align: left;
  padding: 0;
  margin-top: 50px;
  list-style: none;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

h3 {
  text-align: center;
}

.mat-grid-tile {
  border: 1px solid grey;
  text-align: center;
}
