

p {
  color: grey;
  margin-top: 2px;
}


h2, h3 {
  text-align: center;
}

h3 span {
  font-weight: lighter;
}

mat-list-item {
  color: black !important;
}

.section {
  width: 100%;
  color: black;
}

.button-row {
  display: flex;
  text-align: center;
}


button {
  border-radius: 2rem;
}

>>> .mat-form-field-label,
>>> .mat-select-value-text {
  color: black !important;
}

.mat-card {
  color: black;
  background: none;
}

 button,
.form-wrapper {
  margin: 0 5px;

}

.message-card {
  padding: 6px;
  width: 100%;
}

.buttons-container {
  margin: 0;
  white-space: nowrap;
  text-align: center;
}

.message-header-image {
  height: 100%;
}
