

p {
  color: #877457;
  /* margin-top: 2px; */
}

p span {
  color: black;
}


h2, h3 {
  text-align: center;
}

h3 span {
  font-weight: lighter;
}

mat-list-item {
  color: black !important;
}

.section {
  width: 100%;
  color: black;
}

.button-row {
  display: flex;
  text-align: center;
}


button {
  border-radius: 2rem;
}

>>> .mat-form-field-label,
>>> .mat-select-value-text {
  color: black !important;
}

>>> .mat-list-item-content {
  padding: 0 !important;
}

.mat-card {
  color: black;
  background: none;
}

.mat-card-header-text {
  color: black;
  margin: 0;
}
.mat-card-title h3 {
  text-align: left;
  margin: 0;
}

.mat-card-subtitle {
    color: #877457;
}

 button,
.form-wrapper {
  margin: 0 5px;
}

.message-card {
  padding: 6px;
  width: 100%;
}

.mat-card-content {
  margin-left: 46px;
}

.buttons-container {
  margin: 0;
  white-space: nowrap;
  text-align: center;
}
