    <div class="buttons-container">
      <button mat-raised-button color="accent" routerLink="/messages/new">New message</button>
        <span class="form-wrapper" *ngIf="messageboard">
          <mat-form-field>
            <mat-select placeholder="All Messages"  [(ngModel)]="selected" (ngModelChange)="onSelect(selected)">
              <mat-option [value]="-1">
                All Messages
              </mat-option>
              <mat-option *ngFor="let category of messageboard.categories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
    </div>
  <div class="message-list-wrapper" *ngIf="users">
      <mat-list role="list">
        <mat-list-item *ngFor="let mbpost of selectedData" role="listitem">
          <mat-card class="message-card">
            <mat-card-header>
              <div mat-card-avatar class="message-header-image"><img src="http://via.placeholder.com/40x40" alt="" /></div>
              <mat-card-title><h3>{{mbpost.title}}</h3></mat-card-title>
              <mat-card-subtitle>{{ getcategoryName(mbpost.category) }} by {{ getauthorName(mbpost.author) }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{mbpost.created | date:'LLL d'}} — <span>{{mbpost.body}}</span>
              </p>
            </mat-card-content>
          </mat-card>
        </mat-list-item>
      </mat-list>
  </div>
