h2, p {
  text-align: center;
}

p {
  font-size: 18px;
}

ul {
  list-style: none;
}

p:nth-of-type(2) {
  color: #ff5400;
  font-weight: bold;
}

form {
  bottom: 0;
  position: fixed;

}

mat-form-field, form {
  width: 89%;
}

mat-card {
  background: #ecf9fd;
  border-radius: 25px;
  height: 60px;
  padding: 5px;
}

.watercooler-header-image {
  background-image: url('http://via.placeholder.com/44x44');
  background-size: cover;
}
.mat-card-title,
.mat-card-subtitle {
  font-size: 13px;
}

#subtitle {
  font-weight: bold;
  margin-left: 5px;
  margin-top: 0;
  white-space: nowrap;
}

.mat-title-container {
  display: flex;
}
