h2, p {
  text-align: center;
}

p {
  font-size: 18px;
}

ul, ol {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}


p:nth-of-type(2) {
  color: #ff5400;
  font-weight: bold;
}

.form-wrapper {
  bottom: 0;
  margin: 0 -10px 0 -10px;
  position: fixed;
  width: 100%;
}

.form-container {
  background: #ecf9fd;
  border: 1px solid grey;
  margin: 0 0 5px -13px;
  padding: 15px 30px 10px;
  width: calc(100% - 84px);
}

form {
  width: 100%;
}


mat-form-field {
  width: 100%;
}
