<div class='section' *ngIf="company">
  <h2><a routerLink="/companies/{{watercooler.company_id}}">{{company.name}} HQ</a></h2>
  <h2 class="motto">Watercooler talk</h2>
  <p>
    This is the best place to hash things out quickly, throw links and images back and forth, think out loud, share news, riff, and chat in real-time with your team.
  </p>

  <p>
    Start by saying “Hi!” to your team (everyone will be notified that you’re chatting here).
  </p>

  <ul>
    <li *ngFor="let message of watercooler.messages">
      <app-message></app-message>
    </li>
  </ul>
</div>
<app-watercooler-input></app-watercooler-input>
