h2, p {
  text-align: center;
}

p {
  font-size: 18px;
}

ul, ol {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}


p:nth-of-type(2) {
  color: #ff5400;
  font-weight: bold;
}

.form-container {
  background: white;
  bottom: 0;
  position: fixed;
  /* There is 32 margin on each side set by the container with 25px per side
  and body with 8px. */
  width: calc(100% - 64px);
}


mat-form-field {
  width: 100%;
}
