<mat-card *ngIf="team">
  <mat-card-header>
    <div mat-card-avatar class="team-header-image"></div>
    <mat-card-title><h3>{{ team.title | uppercase }}</h3></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput placeholder="title" [(ngModel)]="team.title">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="members" [formControl]="members" multiple>
          <mat-option *ngFor="let member of team.members" [value]="member">{{member}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button matTooltip="Back!" matTooltipPosition="above" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Save!" matTooltipPosition="above" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-icon-button matTooltip="Files!" routerLink="/files/{{team.id}}">
      <mat-icon>folder</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Calendar!" routerLink="/calendar/{{team.id}}">
      <mat-icon>today</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Messages!" routerLink="/messages/{{team.id}}">
      <mat-icon>message</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
