h2,
p,
.sub-header-content {
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

.icon-container {
  height: 20px;
  overflow: visible;
}

mat-icon {
  font-size: 38px !important;
}

p {
  font-size: 18px;
  margin-top: 3px;
}

.mat-grid-tile {
  border-radius: 0.6rem;
  box-shadow: 0 0 2px rgba(0,0,0,0.35), 0 1px 3px rgba(0,0,0,0.1);
  background: #fff;
}

.mat-grid-tile-header {
  background: white !important;
  color: black !important;
  font-size: 19px;
  height: auto !important;
  overflow: visible !important;
  font-weight: bold;
  justify-content: space-between;
  padding: 5px 8px !important;
}

.mat-icon {
  font-size: 30px;
  transform-origin: left;
  transform: translate(-45%, -45%) rotate(-10deg);
}

img {
  border-radius: 50px;
  margin-right: 5px;
}

.sub-header {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  display: flex;
  padding: 2px !important;
}

.tile-content {
  font-size: 12px;
  margin-top: -40px;
  padding: 0 5px;
}

.message-body {
  font-weight: bold;
  padding: 5px;
}
