h2,
p,
.sub-header-content {
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

.icon-container {
  height: 20px;
  overflow: visible;
}

mat-icon {
  font-size: 38px !important;
}

p {
  font-size: 18px;
  margin-top: 3px;
}

.mat-grid-tile {
  border: 1px solid grey;
}

.mat-grid-tile-header {
  background: white !important;
  color: black !important;
  font-size: 19px;
  height: auto !important;
  overflow: visible !important;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 8px;
}

.mat-icon {
  font-size: 30px;
  transform-origin: left;
  transform: translate(-26%, -19%) rotate(-10deg);
}

img {
  border-radius: 50px;
  margin-right: 5px;
}

.sub-header {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  display: flex;
  padding: 0;
}

.tile-content {
  font-size: 12px;
  padding: 0 5px;
}

.message-body {
  padding-top: 5px;
}
