.banner {
  background: #fffae5;
  border: 1px solid orange;
  margin: 0 -23px;
  padding: 5px;
  text-align: center;
}

.subtitle {
  margin-bottom: 2px;
}

p {
  color: grey;
  margin-top: 2px;
}

.clearspace {
  height: 20px;
}

h3 {
  text-align: center;
}

mat-list-item {
  color: black !important;
}

.section,
mat-form-field {
  width: 100%;
  color: black;
}

.button-row {
  text-align: center;
}

button {
  width: 100%;
  border-radius: 2rem;
}

.mat-form-field-type-mat-select {
  border: 1px solid grey;
  border-radius: 2rem;
  padding-top: 5px;
}

::ng-deep .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-input-wrapper {
  margin: 0 auto;
  width: 90%;
}

::ng-deep .form-wrapper .mat-input-infix {
  margin-left: 20px;
}

::ng-deep .mat-select-value-text {
  color: black !important;
}

::ng-deep .title-container .mat-input-infix {
  color: grey !important;
  font-weight: bold;
}

::ng-deep .body-container .mat-form-field-label {
  color: grey !important;
}
