<div class="banner">
  <h3 class="subtitle">Kick Things off with your first message.</h3>
  <p>Post an announcement, pitch an idea, or ask a question.</p>
</div>
<div class="clearspace">

</div>
<div class="section" *ngIf="company">
  <h3>{{company.name}} HQ</h3>
  <div class="message-list-wrapper" *ngIf="mbposts">
    <mat-list role="list">
      <mat-list-item *ngFor="let mbpost of mbposts" role="listitem">
       {{mbpost.title}} - {{mbpost.author}} - {{mbpost.created}}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="message-input-wrapper" *ngIf="!mbposts">
      <!-- <form> -->
    <div class="form-wrapper" *ngIf="messageboard">
      <mat-form-field>
        <mat-select placeholder="Pick a category (optional)">
          <mat-option *ngFor="let category of messageboard.categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="title-container">
      <mat-form-field>
        <input matInput placeholder="Title...">
      </mat-form-field>
    </div>
    <div class="body-container">
      <mat-form-field>
        <textarea matInput placeholder="Write away..." matTextareaAutosize matAutosizeMinRows="6" matAutosizeMaxRows="6"></textarea>
      </mat-form-field>
    </div>
    <div class="button-row">
      <button mat-raised-button color="accent">Save as a draft</button>
    </div>
      <!-- </form> -->
  </div>


</div>
