<div class="banner">
  <h3 class="subtitle">Kick Things off with your first message.</h3>
  <p>Post an announcement, pitch an idea, or ask a question.</p>
</div>
<div class="clearspace">

</div>
<div class="section" *ngIf="company">
  <h3>{{company.name}} HQ</h3>
  <div class="form-wrapper" *ngIf="messageboard">
      <mat-form-field>
  <mat-select placeholder="Pick a category (optional)">
    <mat-option *ngFor="let category of messageboard.categories" [value]="category">
      {{ category }}
    </mat-option>
  </mat-select>
</mat-form-field>
  </div>
</div>
